@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}


.documentHeadPainel{
    display: none;
}

.break-line {
    white-space: normal
}

.hide-print{
    display: none;
}

.assinatura{
    text-align: center;
    border-top: 1px solid black;
}

.assinaturas{
    padding-top: 100px;
}